*.png
*.pdf
*.zip
*.jpg
*.gif
.pam_gnupg
*/.pam_gnupg

.cache
*/*cache*
*/*/[Cc]ache

.config/Code
.config/gnupg
.config/pam/pam_gnupg
.config/zoomus.conf
.config/transmission/resume
.config/transmission/torrents
.config/wakatime
.config/spotify
.config/odrive
.config/pulse
.config/orca/GPUCache
.config/chromium

.conda
.pki
.icons
.abook
.ssh
.zotero
.vscode/extensions
.local/exhaust
.local/share
.local/bin/dwm
.local/bin/dwmblocks
.Xauthority

clouds
dl
dox
game
pix
repos
sci
tunes
vids

.config/BraveSoftware/
.config/GIMP/
.config/spotify-tui/.spotify_token_cache.json
.config/spotify-tui/client.yml
.config/coc/extensions/*
.config/VirtualBox
.config/balena-etcher
.config/coc
.config/nvim/plugged
.config/calcurse/notes
.config/calcurse/todo
.config/calcurse/apts
.config/ncmpcpp/error.log
.config/R/history.Rhistory
.config/jupyter/profile_default
.config/bash/.bash_history
.config/mpd
